html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body  {
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    margin: 0.1rem auto;
}
.titulo, .descripcion{
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    background-color: whitesmoke;
}
.titulo h1{
    text-align: center;
}
.descripcion p{
    text-align: justify;
    padding: 0.1rem 1rem;
}
.descripcion .resaltar_texto{
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}
.formulario{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin: 1rem 0;
    background-color: whitesmoke;
}
.formulario label{
    font-weight: bold;
}
.formulario input,select{
    text-transform: uppercase;
    margin: 0.50rem auto;
    width: 50%;
    border-radius: 2.5px;
}
.formulario input#salida{
    background-color: lightgray;
}
.btn{
    text-align: center;
    font-weight: bold;
    margin: 0.1rem auto;
    background-color: #427AA1;
    width: 100px;
    padding: 0.25rem;
    border-radius: 5px;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: #427AA1;
}
.botonera{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 768px) {
    .contenedor{
        width: 90%;
    }
}
@media only screen and (min-width: 769px) {
    .contenedor{
        width: 80%;
    }
}
@media only screen and (min-width: 1024px) {
    .contenedor{
        width: 50%;
    }
}
@media only screen and (min-width: 1216px) {
    .contenedor{
        width: 40%;
    }
}
@media only screen and (min-width: 1408px) {
    .contenedor{
        width: 33%;
    }
}