:root[data-theme="dark"] {
    /* estilos modo obscuro */
    --body-bg-color: #0f0e0e;
    --aside-bg-color: #1F2D40;
    --main-bg-color: rgba(255, 255, 255, 0.40);
    --h1-color: #F9F16F;
    --p-color: #F9F16F;
    --btn-light-mode-bg: #FFF;
    --btn-light-mode-p: #000;
    --focus-bottom-border: #FFF;
    --input-select-color: #FFF;
    #btn-dark-mode{
        display: none;
    }
    select option {
        background-color: var(--body-bg-color);
    }
    .ico-p-container img{
        filter: invert(84%) sepia(78%) saturate(346%) hue-rotate(345deg) brightness(103%) contrast(95%);
    }

}
:root[data-theme="light"]{
    /* estilos modo claro */
    --body-bg-color: #f0f0f0; /*Color de fondo del body*/
    --aside-bg-color: #FFF; /*Color de fondo del aside*/
    --main-bg-color: #000; /*Color de fondo del main*/
    --h1-color: #FFF; /*Color del titulo*/
    --p-color: #333333; /*Color del texto*/
    --btn-dark-mode-bg: #000; /*Color de fondo del botón que cambia a modo obscuro*/
    --btn-dark-mode-p: #FFF; /*Color del texto del botón que cambia a modo obscuro*/
    --focus-bottom-border: red; /*Color del borde inferior del input seleccionado*/
    --input-select-color: #FFF; /*Color del texto de los input y selects*/
    --main-txt-color: #FFF; /*Color del texto del main*/
    #btn-light-mode{
        display: none;
    }
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body  {
    font-family: 'Montserrat', sans-serif;
    background: var(--body-bg-color);
    margin: 0;
    padding: 0;
    position: relative;
}
.h-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.contenedor{
    display: grid;
    grid-template-areas: 'aside main';
    grid-template-columns: 50% 50%;
    box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.75);
    width: 68.7rem;
}
.aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: var(--aside-bg-color);
    padding: 0 1.5rem;
}
.titulo{
    color: var(--h1-color);
    margin-bottom: 5rem;
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 1.75rem;
}
.descripcion p, .resaltar_texto{
    color: var(--p-color);
    text-align: justify;
    font-size: 18px;
}
.descripcion .version{
    text-align: right;
    font-weight: bold;
}
.formulario{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}
.ico-p-container{
    display: flex;    
    align-items: center;
    padding: 0 1rem;
}
.ico-p-container img{
    width: 30px;
    margin-right: 2rem;
}
.ico-p-container p a{
    color: var(--p-color);
}
.btn .icon{
    width: 30px;
    margin-right: 0.5rem;
}
.formulario .btn .icon{
    filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
}
select option {
    background-color: #ffffff; /* Fondo de las opciones */
    color: #000000; /* Color del texto */
  }
.formulario input,select{
    border: none; /* Quita todos los bordes */
    border-bottom: 1px solid #ffffff; /* Añade un borde inferior blanco */
    padding: 0.5rem;
    text-transform: uppercase; /*texto en mayúsculas*/
    margin: 1rem auto;
    width: 90%;           /* Ancho completo del contenedor */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
    background-color: transparent; /* Color de fondo */
    color: var(--input-select-color);
    font-weight: bold;
}
.formulario input:focus,select:focus{
    outline: none;
}
input::placeholder {
    color: #ffffff; /* Color blanco para el placeholder */
    opacity: 1; /* Asegura que el color se aplique con la máxima opacidad */
  }
.formulario select{
    color: #FFF;
}
.formulario input#salida{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 1rem auto;
    width: 9.375rem;
    padding: 0.25rem;
    border-radius: 1px;
    color: white;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    background-color: #1f2d40;
    height: 45px;
}
.btn:hover{
    cursor: pointer;
    color: #1f2d40;
    background-color: #fff;
}
.btn:hover .icon{
    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7431%) hue-rotate(351deg) brightness(90%) contrast(114%);
}
.btn_resaltado{
    background-color: #FFD000;
    color: #000;
}
.btn_resaltado:hover{
    background-color: white;
    color: #000;
}
#btn_copiar{
    background-color: rgba(0, 0, 0, 0.5);
}
#btn_copiar:hover{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);
}
.botonera{
    height: 100%;
    display: flex;
    align-items: center;
}
.obligatorio{
    font-weight: bold;
    color: red;
    font-size: 18px;
}
.container-btn-user-mode{
    position: absolute;
    display: flex;
    justify-content: right;
    width: 100%;
    top: 0;
}
.container-btn-user-mode #btn-light-mode, #btn-dark-mode{
    width: 190px;
    margin: 0.25rem;
    padding: 0.1rem 2rem;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    border-width: 1px;
}
.container-btn-user-mode #btn-light-mode:hover, #btn-dark-mode:hover{
    cursor: pointer;
    text-decoration: underline;
}
.container-btn-user-mode #btn-light-mode{
    background-color: var(--btn-light-mode-bg);
    color: var(--btn-light-mode-p);
}
.container-btn-user-mode #btn-dark-mode{
    background-color: var(--btn-dark-mode-bg);
    color: var(--btn-dark-mode-p);
}
/* Móviles */
@media only screen and (max-width: 600px) {
    .container-btn-user-mode{
        position: inherit;
    }
    .h-container{
        margin: 1rem;
    }
    .contenedor{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .titulo h1{
        font-size: 1.5rem;
    }
    .botonera{
        flex-direction: column-reverse;
    }
    .btn{
        width: 90%;
        margin: 0.2rem;
    }
  }
  
  /* Tabletas */
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    .container-btn-user-mode{
        position: inherit;
    }
    .h-container{
        margin: 1rem;
    }
    .contenedor{
        width: 70%;
        display: flex;
        flex-direction: column-reverse;
    }
  }
