:root{
    --bg-color: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(13, 29, 90) 100%);
    --h1-color: #FFF;
    --bg-heroe-container: rgba(255, 255, 255, 0.09);
    --text-heroe-container: #FFF;
    --bg-color-bnt: #dcdddc;
    --bg-color-bnt-hover: #FFF;
    --bg-color-input-select: #000;
    --borde-focus-input: #4d8cf8;
    --logo-bg-color: rgba(255, 255, 255, 0.5);
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    background: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
.container-header{
    width: 100%;
    padding: 0.1rem 0;
}
.container-header .logo img{
    width: 80px;
    height: 80px;
    background: var(--logo-bg-color);
    margin: 0 5rem;
    border-radius: 50%;
    animation: spin 2s linear;
    overflow: hidden;
}
@keyframes spin {
    0% {
      transform: perspective(1000px) rotateY(0deg);
    }
    50% {
      transform: perspective(1000px) rotateY(180deg);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg);
    }
  }
.h1-container{
    width: 100%;
    margin-bottom: 1rem;
}
.h1-container h1{
    text-align: center;
    color: var(--h1-color);
    margin: 0;
}
.heroe-container{
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: transparent;
    margin: 0 auto 1rem;
    padding: 1rem;
    background: var(--bg-heroe-container);
    width: 90%;
    color: var(--text-heroe-container);
}
.heroe-container .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.heroe-container .form .label-input-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 0.8rem;
}
.heroe-container .form .label-input-container label, .label-input-container-exit label{
    font-weight: bold;
}
.heroe-container .form input, select, .label-input-container-exit input{
    text-transform: uppercase;
    padding: 0.5rem;
    width: 100%;
    background: transparent;
    border-style: solid;
    border-radius: 0.3rem;
    color: #FFF;
    border-width: 2px;
}
.form input:focus, select:focus, .label-input-container-exit input:focus{
    background: var(--bg-color-input-select);
    border: 2px solid var(--borde-focus-input);
    outline: none; 
}
.label-input-container-exit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin: 1rem 0;
}
.label-input-container-exit input{
    width: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
}
.obligatorio{
    font-weight: bold;
    color: red;
    font-size: 18px;
}
.text{
    text-align: center;
    padding: 0 1rem;
    margin: 1rem 0;
}
.important-text{
    font-weight: bold;
    color: #4a82f2;
    padding: 0 1rem;
    text-decoration: none;
}
.important-text ul{
    list-style: none;
    margin: 0.5rem 0;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons .btn{
    background-color: var(--bg-color-bnt);
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0;
    width: 10rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin: 0 1rem;
}
.buttons .btn:hover{
    background: var(--bg-color-bnt-hover);
}
.version{
    margin: 1rem;
    text-align: right;
}