:root[data-theme="dark"]{
    --bg-color-header: #1c1c1c;
    --bg-color-footer: #1c1c1c;
    --bg-color: #161616;
    --h1-color: #c5c5c5;
    --bg-heroe-container: #1c1c1c;
    --border-color-heroe-container: #383838;
    --text-heroe-container: #c5c5c5;
    --bg-color-bnt: #000;
    --text-color-bnt: #c5c5c5;
    --bg-color-bnt-hover: #292929;
    --bg-color-input-select: transparent;
    --borde-color: #383838;
    --borde-focus-input: #FFF;
    --logo-bg-color: rgba(255, 255, 255, 0.5);
    --btn-light-mode-bg: #c5c5c5;
    --btn-light-mode-p: #000;
    --btn-dark-mode-bg: #292929;
    --btn-dark-mode-p: #c5c5c5;
    --color-label: #c5c5c5;
    #btn-dark-mode{
        display: none;
    }
}
:root[data-theme="light"]{
    --bg-color-header: #dddddd;
    --bg-color-footer: #dddddd;
    --bg-color: #f0f0f0;
    --h1-color: #1c1c1c;
    --bg-heroe-container: #dddddd;
    --border-color-heroe-container: #1c1c1c;
    --text-heroe-container: #1c1c1c;
    --bg-color-bnt: #FFF;
    --text-color-bnt: #1c1c1c;
    --bg-color-bnt-hover: #b9b9b9;
    --bg-color-input-select: transparent;
    --borde-color: #1c1c1c;
    --borde-focus-input: #FFF;
    --logo-bg-color: rgba(255, 255, 255, 0.5);
    --btn-light-mode-bg: #dddddd;
    --btn-light-mode-p: #000;
    --btn-dark-mode-bg: #292929;
    --btn-dark-mode-p: #dddddd;
    --color-label: #1c1c1c;
    #btn-light-mode{
        display: none;
    }
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}
.container-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.1rem 0;
    background: var(--bg-color-header);
}
.container-header .logo img{
    width: 50px;
    height: 50px;
    background: var(--logo-bg-color);
    margin: 0 5rem;
    border-radius: 50%;
    animation: spin 2s linear;
    overflow: hidden;
}
@keyframes spin {
    0% {
      transform: perspective(1000px) rotateY(0deg);
    }
    50% {
      transform: perspective(1000px) rotateY(180deg);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg);
    }
  }
.h1-container{
    width: 100%;
    margin: 2.5rem 0 1.5rem
}
.h1-container h1{
    text-align: center;
    color: var(--h1-color);
    margin: 0;
    font-size: 24px;
}
.heroe-container{
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: var(--border-color-heroe-container);
    margin: 1rem auto;
    padding: 1rem;
    background: var(--bg-heroe-container);
    width: 50%;
    color: var(--text-heroe-container);
}
.heroe-container .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.heroe-container .form .label-input-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 0.8rem;
    font-size: 14px;
    color: var(--color-label);
}
.heroe-container .form input, select, .label-input-container-exit input{
    text-transform: uppercase;
    padding: 0.5rem;
    width: 100%;
    background: transparent;
    border-style: solid;
    border-radius: 0.3rem;
    color: var(--text-heroe-container);
    border-width: 1px;
    font-size: 14px;

}
.form select option{
    background: var(--bg-heroe-container); /* Fondo de la opción seleccionada */
    color: var(--text-heroe-container); /* Color del texto de la opción seleccionada */
  }
.form input:focus, select:focus, .label-input-container-exit input:focus{
    background: var(--bg-color-input-select);
    border-color: var(--borde-focus-input);
    outline: none; 
}
.label-input-container-exit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin: 1rem 0;
}
.label-input-container-exit input:focus{
    border-color: var(--bg-heroe-container);
    border-bottom-color: var(--borde-color);
}
.label-input-container-exit input{
    width: 50%;
    text-align: center;
    font-size: 18px;
    border-color: var(--bg-heroe-container);
    border-bottom-color: var(--borde-color);
}
.obligatorio{
    font-weight: bold;
    color: red;
    font-size: 18px;
}
.text{
    text-align: center;
    padding: 0 1rem;
    margin: 1rem 0;
}
.instructions{
    color: var(--text-color-bnt);
    padding: 0 1rem;
    text-decoration: none;
    font-size: 12px;
}
.instructions ul{
    list-style: none;
    margin: 0.5rem 0;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons .btn{
    background-color: var(--bg-color-bnt);
    color: var(--text-color-bnt);
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0;
    width: 10rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin: 0 1rem;
}
.buttons .btn:hover{
    background: var(--bg-color-bnt-hover);
}
.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--bg-color-footer);
    margin-top: 5rem;
    color: var(--text-color-bnt);
    padding: 1rem;
}
.version{
    width: 50%;
    text-align: right;
}
.container-btn-user-mode{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}
.container-btn-user-mode #btn-light-mode, #btn-dark-mode{
    width: 180px;
    margin: 0.25rem;
    padding: 0.5rem 2rem;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    border-width: 1px;
}
.container-btn-user-mode #btn-light-mode:hover, #btn-dark-mode:hover{
    cursor: pointer;
}
.container-btn-user-mode #btn-light-mode{
    background-color: var(--btn-light-mode-bg);
    color: var(--btn-light-mode-p);
}
.container-btn-user-mode #btn-dark-mode{
    background-color: var(--btn-dark-mode-bg);
    color: var(--btn-dark-mode-p);
}
.submenu{
    width: 50%;
}
.submenu img{
    width: 25px;
}
.submenu a{
    text-decoration: none;
    color: var(--text-heroe-container);
}
.submenu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.submenu ul li{
    list-style: none;
    width: 33%;
    text-align: center;
}